In [1]:
# Import libraries

import pyarrow as pa
from pyarrow import csv
import pyarrow.parquet as pq

import pandas as pd

from datetime import datetime

import os
import sys

In [0]:
# Execution time function

def execution_time(bf, at):
    print(f'Before Execution - {bf}')
    print(f'After Execution  - {at}')
  print(f'Execution time   - {at-bf}')
  return at-bf

In [0]:
# File location

file_dir = '/content/drive/My Drive/GitHub/Apache_Arrow_Basic_Operations/data/'

file_loc = f'{file_dir}deliveries_and_matches.csv'

In [20]:
# Read csv file in pandas

bf_time = datetime.now()
ipl_df = pd.read_csv(file_loc)
at_time = datetime.now()
ex_time = execution_time(bf_time, at_time)

Before Execution - 2020-04-24 16:13:00.067087
After Execution  - 2020-04-24 16:13:00.773049
Execution time   - 0:00:00.705962

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (38) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### DtypeWarning

This warning is issued when dealing with larger files because the dtype checking happens per chunk read. [Refer](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.errors.DtypeWarning.html)

In [22]:
# Type of ipl_df - Pandas data frame

type(ipl_df)

pandas.core.frame.DataFrame

In [110]:
# Read csv file in pyarrow

bf_time = datetime.now()
ipl_arrow = csv.read_csv(file_loc)
at_time = datetime.now()
ex_time = execution_time(bf_time, at_time)

Before Execution - 2020-04-24 17:11:54.638370
After Execution  - 2020-04-24 17:11:54.923853
Execution time   - 0:00:00.285483

In [25]:
# Type of ipl_arrow - Arrow Table

type(ipl_arrow)

pyarrow.lib.Table

In [138]:
# File size

print(f'File size in Bytes - {os.path.getsize(file_loc)}')
print(f'File size in KB - {os.path.getsize(file_loc)/(1024):.2f}')
print(f'File size in MB - {os.path.getsize(file_loc)/(1024*1024):.2f}')

File size in Bytes - 35142635
File size in KB - 34318.98
File size in MB - 33.51

In [78]:
# System size of data frame

sys.getsizeof(ipl_df), ipl_df.__sizeof__()

(246863063, 246863039)

In [79]:
# System size of arrow table

sys.getsizeof(ipl_arrow), ipl_arrow.__sizeof__()

(48, 48)

In [81]:
# Info of data frame

ipl_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 39 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
 21  id                179078 non-null  int64
 22  season            179078 non-null  int64
 23  city              177378 non-null  object
 24  date              179078 non-null  object
 25  team1             179078 non-null  object
 26  team2             179078 non-null  object
 27  toss_winner       179078 non-null  object
 28  toss_decision     179078 non-null  object
 29  result            179078 non-null  object
 30  dl_applied        179078 non-null  int64
 31  winner            178706 non-null  object
 32  win_by_runs       179078 non-null  int64
 33  win_by_wickets    179078 non-null  int64
 34  player_of_match   178706 non-null  object
 35  venue             179078 non-null  object
 36  umpire1           178578 non-null  object
 37  umpire2           178578 non-null  object
 38  umpire3           28366 non-null   object
dtypes: int64(18), object(21)
memory usage: 235.4 MB

In [90]:
# Schema of arrow table

ipl_arrow.schema

match_id: int64
inning: int64
batting_team: string
bowling_team: string
over: int64
ball: int64
batsman: string
non_striker: string
bowler: string
is_super_over: int64
wide_runs: int64
bye_runs: int64
legbye_runs: int64
noball_runs: int64
penalty_runs: int64
batsman_runs: int64
extra_runs: int64
total_runs: int64
player_dismissed: string
dismissal_kind: string
fielder: string
id: int64
season: int64
city: string
date: timestamp[s]
team1: string
team2: string
toss_winner: string
toss_decision: string
result: string
dl_applied: int64
winner: string
win_by_runs: int64
win_by_wickets: int64
player_of_match: string
venue: string
umpire1: string
umpire2: string
umpire3: string

In [101]:
# Shape of both arrow table and dataframe

ipl_arrow.shape, ipl_df.shape

((179078, 39), (179078, 39))

In [103]:
# arrow table to dataframe

ipl_arrow_df = ipl_arrow.to_pandas()
type(ipl_arrow_df)

pandas.core.frame.DataFrame

In [104]:
# Info of converted data frame

ipl_arrow_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 39 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  179078 non-null  object
 19  dismissal_kind    179078 non-null  object
 20  fielder           179078 non-null  object
 21  id                179078 non-null  int64
 22  season            179078 non-null  int64
 23  city              179078 non-null  object
 24  date              179078 non-null  datetime64[ns]
 25  team1             179078 non-null  object
 26  team2             179078 non-null  object
 27  toss_winner       179078 non-null  object
 28  toss_decision     179078 non-null  object
 29  result            179078 non-null  object
 30  dl_applied        179078 non-null  int64
 31  winner            179078 non-null  object
 32  win_by_runs       179078 non-null  int64
 33  win_by_wickets    179078 non-null  int64
 34  player_of_match   179078 non-null  object
 35  venue             179078 non-null  object
 36  umpire1           179078 non-null  object
 37  umpire2           179078 non-null  object
 38  umpire3           179078 non-null  object
dtypes: datetime64[ns](1), int64(18), object(20)
memory usage: 243.8 MB



[Reference1](https://github.com/apache/arrow/issues/4184)

[Reference2](https://issues.apache.org/jira/browse/ARROW-5195)

In [126]:
# Null count in a column

ipl_arrow.column('umpire3').null_count

0

In [0]:
csv.read_csv?

In [0]:
csv.ConvertOptions?

In [112]:

co = csv.ConvertOptions(strings_can_be_null=True)

bf_time = datetime.now()
ipl_arrow2 = csv.read_csv(file_loc, convert_options=co)
at_time = datetime.now()
ex_time = execution_time(bf_time, at_time)

Before Execution - 2020-04-24 17:12:58.616022
After Execution  - 2020-04-24 17:12:58.916845
Execution time   - 0:00:00.300823

In [127]:
# Null count in a column

ipl_arrow2.column('umpire3').null_count

150712

In [0]:
ipl_arrow_df2 = ipl_arrow2.to_pandas()

In [114]:
ipl_arrow_df2.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 39 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
 21  id                179078 non-null  int64
 22  season            179078 non-null  int64
 23  city              177378 non-null  object
 24  date              179078 non-null  datetime64[ns]
 25  team1             179078 non-null  object
 26  team2             179078 non-null  object
 27  toss_winner       179078 non-null  object
 28  toss_decision     179078 non-null  object
 29  result            179078 non-null  object
 30  dl_applied        179078 non-null  int64
 31  winner            178706 non-null  object
 32  win_by_runs       179078 non-null  int64
 33  win_by_wickets    179078 non-null  int64
 34  player_of_match   178706 non-null  object
 35  venue             179078 non-null  object
 36  umpire1           178578 non-null  object
 37  umpire2           178578 non-null  object
 38  umpire3           28366 non-null   object
dtypes: datetime64[ns](1), int64(18), object(20)
memory usage: 220.3 MB

In [115]:
ipl_df = ipl_df.astype({'date': 'datetime64[ns]'})
ipl_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 39 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
 21  id                179078 non-null  int64
 22  season            179078 non-null  int64
 23  city              177378 non-null  object
 24  date              179078 non-null  datetime64[ns]
 25  team1             179078 non-null  object
 26  team2             179078 non-null  object
 27  toss_winner       179078 non-null  object
 28  toss_decision     179078 non-null  object
 29  result            179078 non-null  object
 30  dl_applied        179078 non-null  int64
 31  winner            178706 non-null  object
 32  win_by_runs       179078 non-null  int64
 33  win_by_wickets    179078 non-null  int64
 34  player_of_match   178706 non-null  object
 35  venue             179078 non-null  object
 36  umpire1           178578 non-null  object
 37  umpire2           178578 non-null  object
 38  umpire3           28366 non-null   object
dtypes: datetime64[ns](1), int64(18), object(20)
memory usage: 225.4 MB

In [119]:
ipl_df.head()

   match_id  inning batting_team  ...      umpire1   umpire2  umpire3
0         1       1          SRH  ...  AY Dandekar  NJ Llong      NaN
1         1       1          SRH  ...  AY Dandekar  NJ Llong      NaN
2         1       1          SRH  ...  AY Dandekar  NJ Llong      NaN
3         1       1          SRH  ...  AY Dandekar  NJ Llong      NaN
4         1       1          SRH  ...  AY Dandekar  NJ Llong      NaN

[5 rows x 39 columns]

In [120]:
ipl_arrow_df2.head()

   match_id  inning batting_team  ...      umpire1   umpire2  umpire3
0         1       1          SRH  ...  AY Dandekar  NJ Llong     None
1         1       1          SRH  ...  AY Dandekar  NJ Llong     None
2         1       1          SRH  ...  AY Dandekar  NJ Llong     None
3         1       1          SRH  ...  AY Dandekar  NJ Llong     None
4         1       1          SRH  ...  AY Dandekar  NJ Llong     None

[5 rows x 39 columns]

In [0]:
# Arrow to Ordered dictionary

ipl_dict = ipl_arrow.to_pydict()

In [95]:
type(ipl_dict)

collections.OrderedDict

In [98]:
ipl_dict.keys()

odict_keys(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball', 'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs', 'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs', 'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed', 'dismissal_kind', 'fielder', 'id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner', 'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs', 'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2', 'umpire3'])

In [129]:
sys.getsizeof(ipl_dict)

3008

In [0]:
# parquet file

pq.write_table(ipl_arrow2, f'{file_dir}deliveries_and_matches.parquet')

In [142]:
print(f"parquet file size in Bytes = {os.path.getsize(f'{file_dir}deliveries_and_matches.parquet')}")
print(f"parquet file size in KB = {os.path.getsize(f'{file_dir}deliveries_and_matches.parquet')/1024:.2f}")

parquet file size in Bytes = 816580
parquet file size in KB = 797.44

In [143]:
# Read parquet file in pyarrow

bf_time = datetime.now()
ipl_parquet_arrow = pq.read_table(f'{file_dir}deliveries_and_matches.parquet')
at_time = datetime.now()
ex_time = execution_time(bf_time, at_time)

Before Execution - 2020-04-24 17:46:17.555183
After Execution  - 2020-04-24 17:46:17.708032
Execution time   - 0:00:00.152849

In [144]:
ipl_parquet_arrow.column('umpire3').null_count

150712